@import "tailwindcss";

@theme {
  --font-serif: var(--font-serif), Georgia, Garamond, serif;
  --font-sans: var(--font-sans), Inter, sans-serif;
  
  --color-electric-blue: #0000EE;
  --color-primary-dark: #0023EC;
  --color-warm-orange: #F89104;
  --color-pure-black: #000000;
  --color-text-muted: #737373;
  --color-text-dark-gray: #333333;
  --color-border-subtle: #E5E5E5;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f5f2ff;
  --color-surface-cream: #FFFAF5;
  --color-surface-warm-white: #FFFCFC;
  --color-accent-purple: #8C45FF;
}

@utility bg-blueprint {
  background-image: 
    linear-gradient(to right, rgba(229, 229, 229, 0.4) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(229, 229, 229, 0.4) 1px, transparent 1px);
  background-size: 40px 40px;
}
